/*body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0px; padding: 0px; }*/
/*body, button, input, select, textarea { font: 12px/1.5 tahoma,Arial,"宋体","微软雅黑"; }*/
/*ul, ol { list-style: none outside none; }*/
/*fieldset, img { border: 0px none; vertical-align: top; }*/
/*button, input, select, textarea { font-size: 100%; }*/
/*button { cursor: pointer; }*/
/*form { display: inline; }*/
/*input, textarea { outline: medium none; }*/
/*i { font-style: normal; }*/
/*u, i, s, em { text-decoration: none; font-weight: normal; font-style: normal; }*/
/*html { background: none repeat scroll 0% 0% rgb(246, 245, 250); }*/
/*.clearfix { padding: 8px 0 0 0; }*/
/*.clearfix:after, .row:after { content: " "; display: block; height: 0px; clear: both; }*/
/*.imp { color: rgb(82, 185, 251); }*/
/*.c666 { color: rgb(102, 102, 102); }*/
/*.ext { color: rgb(153, 153, 153); }*/
/*.blue { color: rgb(0, 99, 168); }*/
/*.white { color: rgb(255, 255, 255); }*/
/*.fst { font-family: "宋体"; }*/
/*a { text-decoration: none; color: rgb(51, 51, 51); outline: 0px none; }*/
/*a:hover { text-decoration: underline; color: rgb(82, 185, 251); }*/
/*.h4 { font-size: 14px; }*/
/*.fl { float: left; }*/
/*.fr { float: right; }*/
/*.row { width: 960px; margin: 0px auto; }*/
/*.mt8 { margin-top: 8px; }*/
/*.pr5 { padding-right: 5px; }*/
/*.lay-160 { width: 160px; }*/
/*.lay-790 { width: 790px; }*/
/*.top-bar, .main-nav, .menu li, .sub-menu, .main-mark, .sub-mark, .tab-style-3, .soft-share .soft-share-bar, .deta-top-box .deta-hot, .deta-top-box .deta-new, .btn-more-cmt .btn { background-image: url('../img/repeat.png'); background-repeat: repeat-x; }*/
/*.menu li i, .left-cat .ico, .idx-focus .xtaber-tabs .current i, .tab-style-1 .current i, .soft-list .ico, .soft-top-list .num,.list-rec-title, .pic-item i, .deta-top-box .top-hd i, .soft-top-list .ico-down, .soft-top-list .ico-up, .cmt-list .cmt-reply i, .top-search-list .i3, .top-search-list .i5 .ico, .top-search-list .mix-pic i, .top-mark .ico-add, .top-bar .ico-msg, .key-form .ico, .autocomplete-container .isnew-1 { background-image: url('../img/icon.png'); background-repeat: no-repeat; }*/
/*.star-range { height: 20px; width: 50px; display: block; overflow: hidden; text-align: center;  }*/
/*.container { background: url('../img/top_bg.png') no-repeat scroll center 0px transparent; }*/
/*.top-bar { height: 26px; }*/
/*.top-bar .welcome { float: left; height: 26px; line-height: 26px; color: rgb(102, 102, 102); }*/
/*.top-bar .ico-msg { width: 20px; height: 20px; background-position: -280px -40px; float: left; margin-top: 3px; }*/
/*.user-tools { float: right; line-height: 26px; }*/
/*.user-tools a { float: left; }*/
/*.user-tools s { margin: 0px 8px; color: rgb(153, 153, 153); float: left; line-height: 26px; }*/
/*.header { height: 89px; width: 960px; margin: 0px auto; }*/
/*.header .logo { margin-top: 19px; width: 152px; height: 54px; background: url('../img/logo.png') no-repeat scroll 0% 0% transparent; }*/
/*.header .logo a { display: block; height: 54px; text-indent: -999em; }*/
/*.search-form { padding: 25px 0px 0px 45px; float: left; width: 435px; }*/
/*.key-form { height: 32px; border-radius: 3px; position: relative; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 2px solid rgb(36, 185, 253); padding: 0px; }*/
/*.key-form .key { float: left; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 0px none; padding: 6px 0px 6px 6px; height: 20px; line-height: 20px; width: 324px; color: rgb(51, 51, 51); }*/
/*.key-form .hot-btn { width: 20px; height: 20px; background-position: -260px -60px; position: absolute; left: 330px; top: 8px; cursor: pointer; }*/
/*.key-form .hot-num { width: 17px; height: 15px; overflow: hidden; background-position: -280px -60px; position: absolute; left: 1px; top: -15px; text-align: center; line-height: 15px; color: rgb(255, 255, 255); display: none; }*/
/*.key-form .btn { color: rgb(255, 255, 255); font-size: 14px; width: 80px; float: right; height: 32px; text-align: center; border: 0px none; background: none repeat scroll 0% 0% rgb(36, 185, 253); }*/
/*.top-test { width: 250px; float: right; margin-top: 10px; }*/
/*.footer { background: none repeat scroll 0% 0% rgb(122, 125, 128); padding: 35px 0px; text-align: center; color: rgb(255, 255, 255); line-height: 24px; margin-top: 10px; }*/
/*.footer a, .footer a:visited { color: rgb(255, 255, 255); }*/
/*.footer s { color: rgb(172, 172, 172); margin: 0px 3px; }*/
/*.main-nav { width: 960px; margin: 0px auto; background-position: 0px -465px; background-color: rgb(82, 185, 251); height: 40px; }*/
/*.menu { float: left; }*/
/*.menu li { float: left; height: 40px; line-height: 40px; background-position: right -151px; background-repeat: no-repeat; padding: 0px 20px 0px 18px; margin-right: -2px; }*/
/*.menu .current { background: none repeat scroll 0% 0% rgb(2, 127, 184); }*/
/*.menu .current { background-position: 0px -505px; background-repeat: repeat-x; }*/
/*.menu li a { color: rgb(255, 255, 255); font-family: "Microsoft YaHei","微软雅黑","宋体"; font-size: 16px; text-shadow: 1px 1px 1px rgb(11, 129, 215); }*/
/*.menu li a:hover { color: rgb(255, 255, 255); }*/
/*.menu li i { width: 20px; height: 20px; float: left; margin: 9px 10px 0px 0px; }*/
/*.menu .ico-pc { background-position: 0px 0px; }*/
/*.menu .ico-and { background-position: -20px 0px; }*/
/*.menu .ico-ip { background-position: -40px 0px; }*/
/*.nav-ext { float: right; padding: 9px 10px 0px 0px; overflow: hidden;}*/
/*.nav-ext a { background-repeat: no-repeat; background-position: 0px -107px; display: inline-block; height: 22px; line-height: 22px; padding-left: 10px; color: rgb(255, 255, 255); }*/
/*.nav-ext a:hover { color: rgb(255, 255, 255); }*/
/*.par-row { background: url('../img/link_icon.png') no-repeat scroll 10px 43px rgb(240, 242, 243); padding: 13px 0px; }*/
/*.par-row .til { font-size: 14px; font-weight: bold; width: 80px; float: left; padding: 5px 0px 0px 10px; }*/
/*.par-list { float: left; width: 865px; }*/
/*.par-list li { float: left; width: 11%; height: 30px; line-height: 30px; }*/
.main-mark { height: 36px; background-color: rgb(82, 185, 251); background-repeat: no-repeat; background-position: 0px -191px; position: relative; }
.main-mark .mark { line-height: 36px; padding-left: 12px; font-weight: bold; color: rgb(255, 255, 255); }
.main-mark .white:hover { color: rgb(255, 255, 255); }
.mark-ext { position: absolute; right: 10px; top: 5px; }
.sub-mark { height: 35px; background-position: 0px -72px; position: relative; }
.sub-mark .mark { line-height: 35px; padding-left: 12px; font-weight: bold; }
.soft-list li { float: left; width: 86px; overflow: hidden; height: 90px;  }
.soft-list .pic { display: block; width: 48px; height: 48px; margin: 0px auto; position: relative; text-align: center; }
.soft-list .pic img { width: 48px; height: 48px; }
.soft-list .name { display: block; text-align: center; height: 22px; line-height: 22px; overflow: hidden; margin-top: 4px; }
.soft-list .btn-soft-dl { margin: 0px auto; }
.soft-list .ico { width: 14px; height: 14px; position: absolute; right: 0px; bottom: 0px; display: none; }
.soft-list .ico-selected { background-position: -3px -22px; }
.soft-list .btn-soft-dl { display: none; }
.tab-style-1 { height: 36px; padding-left: 20px; }
.tab-style-1 li { float: left; margin-right: 20px; padding-top: 3px; line-height: 30px; cursor: pointer; font-size: 14px; font-weight: bold; color: rgb(255, 255, 255); }
.tab-style-1 .current { border-bottom: 3px solid rgb(23, 129, 198); position: relative; height: 30px; overflow: hidden; }
.tab-style-1 .current i { width: 7px; height: 4px; background-position: -66px -28px; left: 50%; margin-left: -3px; top: 29px; position: absolute; }
.tab-style-2 { position: absolute; right: 2px; top: 5px; }
.tab-style-2 li { float: left; padding: 0px 10px; line-height: 29px; height: 29px; color: rgb(102, 102, 102); cursor: pointer; }
.tab-style-2 .current { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 0px 9px; border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(233, 232, 213) rgb(233, 232, 213) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 2px; }
.btn-soft-dl { background: url('../img/btn.png') no-repeat scroll 0% 0% transparent; }
.btn-soft-dl { display: block; width: 46px; height: 22px; background-position: -110px -24px; font-size: 0px; line-height: 0; text-indent: -999em; }
.btn-soft-dl:hover { background-position: -156px -24px; }
.btn-soft-dl:active { background-position: -202px -24px; }
.soft-top-list li { padding: 0 0 0 5px; height: 32px; border-bottom: 1px dotted rgb(215, 215, 215); position: relative; vertical-align: middle; }
.soft-top-list .mix { height: 58px; }
.soft-top-list .num { width: 16px; height: 16px; float: left; margin-left: -1px; margin-right: 10px; display: inline; margin-top: 8px; }
/*.soft-top-list .num-1, .soft-top-list .num-2, .soft-top-list .num-3 { margin-top: 21px; }*/
.soft-top-list .num-1 { background-position: -80px -20px; }
.soft-top-list .num-2 { background-position: -100px -20px; }
.soft-top-list .num-3 { background-position: -120px -20px; }
.soft-top-list .num-4 { background-position: -140px -20px; }
.soft-top-list .num-5 { background-position: -160px -20px; }
.soft-top-list .num-6 { background-position: -180px -20px; }
.soft-top-list .num-7 { background-position: -80px -40px; }
.soft-top-list .num-8 { background-position: -100px -40px; }
.soft-top-list .num-9 { background-position: -120px -40px; }
.soft-top-list .num-10 { background-position: -140px -40px; }
/*.soft-top-list .num-11 { background-position: -160px -40px; }*/
/*.soft-top-list .num-12 { background-position: -180px -40px; }*/
/*.soft-top-list .num-13 { background-position: -80px -60px; }*/
.soft-top-list .top-pic { float: left; width: 40px; height: 40px; margin: 9px 10px 0px 0px; overflow: hidden; }
.soft-top-list .top-pic img { width: 40px; height: 40px; }
.soft-top-list .top-txt { float: left; width: 90px; padding-top: 8px; }
.soft-top-list .mix .star-range { margin-top: 4px; }
.soft-top-list .btn-soft-dl { position: absolute; right: 9px; top: 9px; }
.soft-top-list .s-name { float: left; width: 130px; height: 32px; line-height: 32px; overflow: hidden; }
.soft-top-list .single .star-range { float: left; margin-top: 11px; }
.main-row { background: url('../img/lay_bg.png') repeat-y scroll 0px 0px transparent; }
.left-nav { border-top: 2px solid rgb(82, 185, 251); }
.left-cat .ico { width: 20px; height: 20px; position: absolute; top: 10px; }
.left-cat .ico-all { background-position: -80px 0px; left: 25px; }
.left-cat .ico-arr { right: 10px; cursor: pointer; background-position: -160px 0px; }
.left-cat .open .ico-arr { background-position: -140px 0px; }
.left-cat .child-cat { display: none; }
.left-cat .open .child-cat { display: block; }
.sub-menu { display: block; height: 40px; margin: 0px 1px; background-position: 0px -32px; color: rgb(102, 102, 102); line-height: 40px; font-size: 14px; padding-left: 53px; position: relative; }
.child-cat { padding: 7px 0px; }
.left-cat .sub { line-height: 30px; }
.left-cat .sub a { display: block; height: 30px; overflow: hidden; padding-left: 30px; }
.left-cat .sub .current, .left-cat .sub a:hover { background: none repeat scroll 0% 0% rgb(82, 185, 251); color: rgb(255, 255, 255); text-decoration: none; }
.left-cat .sub .current .ext, .left-cat .sub a:hover .ext { color: rgb(255, 255, 255); }
.left-cat .sub li { height: 30px; line-height: 30px; overflow: hidden; padding: 0px 0px 0px 15px; }
.placeholder-label {  }
.bottom-list { height: 60px; background: none repeat scroll 0% 0% rgb(255, 255, 255); margin-top: 10px; border: 1px solid rgb(233, 233, 233); }
.bottom-list p { font: bold 12px/30px "simsun"; padding-left: 10px; }
.bottom-list a { display: block; margin: 0px 6px 0px 7px; padding: 0px 7px; line-height: 20px; float: left; }
.bottom-list a:hover { background: none repeat scroll 0% 0% rgb(0, 99, 168); color: rgb(255, 255, 255); text-decoration: none; }

.idx-focus { float: left; }
.idx-focus, .focus-pic li { width: 560px; height: 231px; position: relative; overflow: hidden; }
.idx-foc-tmp { height: 230px; }
.focus-pic { height: 230px; }
.focus-pic li { float: left; height: 230px; }
.focus-pic li img { width: 560px; height: 230px; }
.focus-pic .bg { height: 30px; width: 100%; position: absolute; left: 0px; bottom: 0px; background: none repeat scroll 0% 0% rgb(0, 0, 0); opacity: 0.6; z-index: 1; }
.focus-pic .txt { height: 30px; position: absolute; width: 100%; line-height: 30px; text-indent: 10px; overflow: hidden; z-index: 2; left: 0px; bottom: 0px; }
.idx-focus .xtaber-tabs { height: 60px; background: none repeat scroll 0% 0% rgb(86, 86, 86); }
.idx-focus .xtaber-tabs li { float: left; padding: 3px; margin-right: -3px; position: relative; cursor: pointer; z-index: 3; }
.idx-focus .xtaber-tabs img { width: 90px; height: 54px; }
.idx-focus .xtaber-tabs .current { background: none repeat scroll 0% 0% rgb(43, 164, 215); }
.idx-focus .xtaber-tabs .current i { width: 7px; height: 4px; position: absolute; left: 50%; margin-left: -3px; top: -4px; overflow: hidden; background-position: -46px -28px; }
.idx-focus .btn-prev, .idx-focus .btn-next { background: url('../img/foc_btn.png') no-repeat scroll 0% 0% transparent; width: 31px; height: 50px; position: absolute; z-index: 4; top: 85px; }
.idx-focus .btn-prev { background-position: 0px 0px; left: 10px; }
.idx-focus .btn-next { background-position: -33px 0px; right: 10px; }
.idx-rec { width: 218px; height: 230px; border: 1px solid rgb(233, 233, 233); float: right; overflow: hidden; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.rec-soft { height: 168px; }
.rec-soft .til { font-weight: bold; height: 36px; padding-left: 12px; line-height: 36px; }
.rec-dl { padding: 9px 0px 0px 25px; }
.rec-pic { float: left; width: 48px; height: 48px; overflow: hidden; }
.rec-dl p { float: left; padding: 0px 10px; width: 120px; }
.rec-dl .soft-name { display: block; height: 26px; overflow: hidden; line-height: 26px; font-weight: bold; }
.rec-dl-btn { padding-top: 15px; }
.rec-dl-btn a { width: 110px; height: 34px; margin: 0px auto; display: block; background: url('../img/btn.png') no-repeat scroll 0px -24px transparent; font-size: 0px; line-height: 0; color: rgb(130, 201, 54); text-indent: -999em; }
.rec-dl-btn a:hover { background-position: 0px -292px; }
.rec-dl-btn a:active { background-position: 0px -326px; }
.market-list li { height: 58px; border-top: 1px solid rgb(233, 232, 213); overflow: hidden; vertical-align: middle; }
.market-list .m-az { background: none repeat scroll 0% 0% rgb(245, 245, 245); }
.rec-soft-box { width: 560px; float: left; height: 372px; }
.rec-soft-box .txt { float: left; line-height: 36px; color: rgb(31, 100, 145); text-shadow: 1px 1px 1px rgb(102, 200, 252); margin-right: 5px; }
.rec-soft-box .btn { background: url('../img/btn.png') no-repeat scroll 0% 0% transparent; }
.rec-soft-box .mark-ext .btn { float: left; height: 24px; font-size: 0px; line-height: 0; text-indent: -999em; margin-top: 6px; }
.rec-soft-box .btn-bag { width: 70px; background-position: 0px 0px; }
.rec-soft-box .btn-ok { width: 44px; background-position: -70px 0px; margin-right: 5px; }
.rec-soft-box .btn-no { width: 44px; background-position: -114px 0px; }
.rec-con-box { height: 334px; border: 1px solid rgb(233, 233, 233); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.rec-con-box .soft-list { padding: 0px 0px 0px 9px; }
.rec-con-box .soft-list li { padding: 10px 0px 6px; overflow: hidden; margin-top: 5px; }
.soft-top-box { border: 1px solid rgb(233, 233, 233); background: none repeat scroll 0% 0% rgb(255, 255, 255); height: 370px; float: right; width: 220px; }
.soft-top-wrap {  }
.soft-top-wrap .soft-top-list { overflow: hidden; }
.new-rec-box { border: 1px solid rgb(233, 233, 233); background: none repeat scroll 0% 0% rgb(255, 255, 255); overflow: hidden; }
.new-rec-box .tab-style-2 { left: 120px; right: auto; }
.new-rec-box .mark-ext { line-height: 35px; }
.new-rec-box .soft-list li { width: 87px; margin-top: 18px; }
.new-rec-soft { height: 195px; overflow: hidden; }
.used-box .mark-ext { line-height: 36px; }
.used-box .tab-style-2 { left: 120px; right: auto; top: 7px; }
.used-box .tab-style-2 li { color: rgb(255, 255, 255); }
.used-box .tab-style-2 .current { height: 29px; padding: 0px 10px; border: medium none; color: rgb(82, 185, 251); border-radius: 2px 2px 0px 0px; }
.used-soft { background: none repeat scroll 0% 0% rgb(255, 255, 255); height: 473px; width: 788px; overflow: hidden; border: 1px solid rgb(233, 233, 233); }
.used-items { width: 800px; }
.used-item { float: left; width: 157px; height: 235px; border-color: rgb(233, 233, 233); border-width: 0px 1px 1px 0px; border-style: solid; }
.used-name { height: 24px; line-height: 24px; text-align: center; background: none repeat scroll 0% 0% rgb(240, 242, 243); color: rgb(102, 102, 102); }
.used-item .soft-list li { width: 78px; margin-top: 15px; }


.new { float: left; width: 788px; background: #fff; border: 1px solid rgb(233, 233, 233);}
.news { float: left; width: 790px;  }


.idx-focus {
    background: #fff;
}

.idx-focus p{
    text-align: center;
    padding: 5px;


}

.idx-focus h2 {
    text-align: center;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #e4e4e4;
    border-width: 0 0 1px 0;
}
.idx-focus ul li {
    display: block;
    height: 22px;
    width: 500px;
    margin: 0 auto;
    border: 1px dashed #e4e4e4;
    border-width: 0 0 1px 0 ;

}
.idx-focus ul li i {
    display: block;
    float: left;
    color: #4e4e4c;
    padding: 0 5px;
}
.idx-focus ul li a {
    font-size: 14px;
    display: block;
    float: left;
}
.idx-focus ul li span {
    float: right;
}